.AQ {
  margin: 0 auto;
  padding: 24px;

  .title {
    font-size: 20px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    line-height: 28px;
  }

  .AQ-content {
    margin: 24px 0 0 0;
    height: 820px;
    display: flex;
    background: white;

    .left {
      width: 66%;
      height: calc(100% - 40px);
      padding: 0px 24px;

      .AQ-scroll {
        width: 100%;
        height: 90%;
        overflow-y: auto;

        .left-box {
          width: 100%;
          margin: 40px 0 0 0;
          float: left;

          .a-head-img {
            float: left;
          }

          .a-content {
            float: left;
            width: max-content;
            max-width: 550px;
            min-width: 227px;
            min-height: 40px;
            margin: 16px 0 0 20px;
            padding: 10px;
            background: rgba(0, 0, 0, 0.04);
            border-radius: 0px 10px 10px 10px;
            color: rgba(0, 0, 0, 0.65);
          }
        }

        .right-box {
          width: 100%;
          margin: 40px 20px 0 0;
          float: right;

          .q-head-img {
            float: right;
          }

          .q-content {
            float: right;
            width: max-content;
            max-width: 550px;
            min-width: 227px;
            min-height: 40px;
            margin: 16px 20px 0 0;
            padding: 10px;
            background: rgba(18, 110, 227, 1);
            border-radius: 10px 0px 10px 10px;
            color: rgba(255, 255, 255, 1);
          }
        }
      }

      .input-box {
        margin: 60px 0 0 0;

        .input-t {
          width: 932px;
          border-top: 0;
          border-left: 0;
          border-right: 0;
        }

        .send {
          margin: 0 0 0 16px;
        }

        .ant-input:focus {
          box-shadow: none;
        }
      }
    }

    .right {
      width: 34%;
      height: 100%;
      padding: 20px 24px;

      .title {
        font-size: 20px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.85);
        line-height: 28px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.06);
        padding: 0 0 16px 0;
      }

      .tag {
        margin: 32px 0 0 0;
        font-size: 16px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.85);
        line-height: 22px;
      }

      .word-content {
        margin: 8px 0 0 0;
        padding: 0 8px;
        height: 40px;
        border-radius: 3px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        line-height: 40px;
      }

      .l-a {
        margin: 8px 0 0 0;
        padding: 16px 20px;
        height: 86px;
        border-radius: 3px;
        border: 1px solid rgba(0, 0, 0, 0.1);

        .l-a-line {
          display: flex;

          .color {
          }

          .result {
            width: 200px;
          }

          .type {
            width: 40px;
          }

          .number {
            width: 40px;
          }
        }
      }
    }
  }
}
