.factor {
	width: 100%;
	padding: 40px;
	margin-bottom: 20px;
	background: #fff;
	position: relative;

	.top {
		.top-label {
			font-size: 16px;
			font-family: PingFangSC-Medium, PingFang SC;
			font-weight: 500;
			color: rgba(0, 0, 0, 0.75);
		}
		.textarea {
			width: 1016px;
			// height: 114px;
			margin-left: 8px;
			font-weight: 400;
			color: rgba(0, 0, 0, 0.65);
		}
	}

	.add-btn {
		margin-top: 64px;
	}

	.table-box {
		margin-top: 24px;

		.ant-table-thead
			> tr
			> th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan]):before {
			display: none;
		}
	}

	.footer-box {
		position: absolute;
		width: 250px;
		left: 50%;
		transform: translateX(-50%);
		margin: 0px auto;

		.pre {
			margin-right: 12px;
			border-radius: 3px;
		}
		.next {
			border-radius: 3px;
		}
	}

	.text {
		color: #5d81f0;
		display: inline-block;
		margin-left: 8px;

		&:hover {
			cursor: pointer;
		}
	}

	.check-text {
		color: #5d81f0;
		display: inline-block;
		margin-right: 8px;

		&:hover {
			cursor: pointer;
		}
	}

  .discheck{
    color: #e9e9e9;
    display: inline-block;
		margin-right: 8px;
  }

	.line {
		color: #e9e9e9;
	}
}

.addModal {
	.ant-modal-content {
		min-width: 640px;
	}
	.ant-modal-body {
		padding: 0;
		padding-top: 24px;
	}

	.input-padding {
		padding: 0 24px;
	}

	.des {
		display: inline-block;
		margin: 35px 6px 0 15px;
	}

	.create {
		color: #5d81f0;
		display: inline-block;
		margin-top: 30px;
	}

	.antd-modal-footer {
		height: 58px;
		text-align: right;
		border-top: 1px solid #f0f0f0;
		padding: 12px 24px 0px 0px;

		.cancel-btn {
			margin-right: 8px;
		}
	}
}

.infoModal {
	.input-area {
		display: inline-block;
		height: 108px !important;
		resize: none;
	}

	.title {
		font-size: 16px;
		font-family: PingFangSC-Medium, PingFang SC;
		font-weight: 600;
		color: rgba(0, 0, 0, 0.85);
		margin-top: 32px;
		padding-bottom: 8px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.06);

		&:first-child {
			margin-top: 0;
		}
	}
	.result {
		font-size: 14px;
		font-family: PingFangSC-Regular, PingFang SC;
		font-weight: 400;
		color: rgba(0, 0, 0, 0.65);
		margin-top: 8px;

		.light {
			color: #126ee3;
		}
	}
}
