.factor {
	width: 100%;
	padding: 40px;
	margin-bottom: 20px;
	background: #fff;
	position: relative;

	.top {
		.textarea {
			width: 1016px;
			height: 114px;
      resize: none;
		}
	}

	.add-btn {
		margin-top: 36px;
	}

	.table-box {
		margin-top: 24px;

		.ant-table-thead
			> tr
			> th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan]):before {
			display: none;
		}
	}

	.footer-box {
		position: absolute;
		width: 250px;
		left: 50%;
		transform: translateX(-50%);
		margin: 0px auto;

		.pre {
			margin-right: 12px;
			border-radius: 3px;
		}
		.next {
			border-radius: 3px;
		}
	}

	.text {
		color: #5d81f0;
		display: inline-block;
		margin-left: 8px;

		&:hover {
			cursor: pointer;
		}
	}

	.check-text {
		color: #5d81f0;
		display: inline-block;
		margin-right: 8px;

		&:hover {
			cursor: pointer;
		}
	}

	.line {
		color: #e9e9e9;
	}
}

.addModal {
	.des {
		display: inline-block;
		margin: 35px 6px 0 45px;
	}
	.create {
		color: #5d81f0;
		display: inline-block;
		margin-top: 30px;
	}
	.antd-modal-footer {
		text-align: right;

		.cancel-btn {
			margin-right: 8px;
		}
	}
}

.infoModal {
	.input-area {
		display: inline-block;
		height: 108px !important;
    resize: none;
	}
}
