body {
  height: auto !important;
  background-color: rgba(248, 248, 248, 1)!important;
  font-family: PingFangSC-Regular, PingFang SC;
}

.content-show {
  float: left;
  margin: 64px 0 0 200px;
  padding: 20px;
}